<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Return</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 20px;
            padding: 20px;
            background-color: #f4f4f4;
        }

        h1 {
            color: #333;
            margin-bottom: 20px;
        }

        .defaultForm {
            background-color: #fff;
            display: flex;
            flex-direction: column;
            max-width: 300px;
            margin: 0 auto;
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .defaultFormSubBlock {
            margin-bottom: 15px;
        }

        .defaultFormLabel {
            font-weight: bold;
            margin-bottom: 5px;
            color: #555;
        }

        .defaultInputBar,
        .defaultDropDown {
            padding: 8px;
            font-size: 14px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        .defaultDropDown {
            width: 100%;
        }

        .defaultButton {
            padding: 10px;
            background-color: #1fa8b6;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        #user,
        #fine {
            text-align: center;
            font-weight: bold;
            color: #555;
            margin: 10px auto 0 auto;
        }

        .error-div{
            color: red;
            max-width: 300px;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <%- include('../includes/adminNavigationBar.ejs') %>
    <h1>Book Return</h1>
    <%if(error) {%>
        <div class = "error-div" id = "error-div">
            <%= error.msg %>
        </div>
    <%}%>
    <form class="defaultForm" action="/admin/bookReturn" method="post">
        <div class="defaultFormSubBlock">
            <label class="defaultFormLabel" for="bookID">Book ID</label>
            <input name="bookID" placeholder="Book ID" class="defaultInputBar" id="bookID" value = "<%= oldInput.bookID%>" required>
        </div>
        <div class="defaultFormSubBlock">
            <button id="searchButton" class="defaultButton" type="button">Search</button>
            <button class="defaultButton" type="submit">Return</button>
        </div>
        <div>
            <p id="user"></p>
            <p id="fine"></p>
        </div>
    </form>
    <script>
        console.log('Script loaded');
        document.addEventListener('DOMContentLoaded', function () {
            const searchButton = document.getElementById('searchButton');
            if (searchButton) {
                console.log('Search button found');
                searchButton.addEventListener('click', getData);
            } else {
                console.error('Search button not found');
            }
        });
    
        function getData() {
            console.log('onclick');
            if(document.getElementById('error-div')) document.getElementById('error-div').innerText = '';
            const searchBar = document.getElementById('bookID');
            const bookID = searchBar.value;
            const url = `/admin/issueData?bookID=${bookID}`;
            console.log(url);
            fetch(url)
                .then(async response => response.json())
                .then(data => {
                    console.log(data);
                    const user = document.getElementById('user');
                    const fine = document.getElementById('fine');
                    user.innerText = ``;
                    fine.innerText = ``;    
                    if(data.error){
                        user.innerText = data.error;
                    }
                    else{
                        user.innerText = `User: ${data.user}`;
                        fine.innerText = `Fine: ${data.fine}`;                       
                    }
                })
                .catch(error => console.error('Error:', ));
        }
    </script> 
</body>

</html>
